<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="stylesheet" type="text/css" href="nav.css" />
    
        <title>Explotrip.com</title>
        <link rel="icon" type="image/png" href="/img/favicon.png" />
