<% include part/headBegin %>
<% include part/headEnd %>

<% include part/header %>

<h1>Connexion</h1>
<form id="formConnexion" method="post" action="/doConnexion">
    Mail : 
    <input name="mail" type="text">
    Mot de passe : 
    <input name="password" type="password">
    <button type="submit">Connexion</button>
</form>

<% include part/footer %>
