






<!DOCTYPE html>
<html class="nojs html css_verticalspacer" lang="fr-FR">
 <head>

  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2017.1.0.379"/>
  
  <script type="text/javascript">
   // Update the 'nojs'/'js' class on the html node
document.documentElement.className = document.documentElement.className.replace(/\bnojs\b/g, 'js');

// Check that all required assets are uploaded and up-to-date
if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["museutils.js", "museconfig.js", "jquery.watch.js", "require.js", "index.css"], "outOfDate":[]};
</script>
  
  <title>Page d'accueil</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/site_global.css?crc=444006867"/>
  <link rel="stylesheet" type="text/css" href="css/index.css?crc=4032221615" id="pagesheet"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- JS includes -->
  <script src="https://use.typekit.net/ik/cRfFl82VSoBx1zXDQQOvxZa8RnjcwDOS39FqIVRzuD9fe7GgfJV8G3GPHQJUFQ9a52qUWDsKwQwawDJo5QwkZQbhweZyFQ93FDwa52F8jRJDjA4ceKv7OcmtSeUziY4TSfoRdhXCZWy3deNXSc83OcFzdPUaiaS0ZWy3deNXSc83OcFzdPJeScNKdaszJ6ZK-WsXZWJ7fbKApsMMeMb6MKG4fJToIMMjgkMfH6qJq1qbMg62JMJ7fbR3LgMgeMS6MqGIQWmDZZMgKwaKoM9.js" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   try {Typekit.load();} catch(e) {}
</script>
   </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="ppu365-4"><!-- column -->
      <% if (sessionActive === "0000"){ %>
         <div class="clearfix colelem" id="pu365-4"><!-- group -->
            <a class="nonblock nontext clearfix grpelem" id="u365-4" href="/inscription"><!-- content --><p>Inscription</p></a>
            <div class="clip_frame grpelem" id="u126"><!-- svg -->
            <img class="svg" id="u124" src="images/svg-coll%c3%a9-2-x-43.svg?crc=4153082233" width="2" height="44" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%202%20x%2043_poster_.png?crc=3955926725"/>
            </div>
            <a class="nonblock nontext clearfix grpelem" id="u371-4" href="/connexion"><!-- content --><p>Connexion</p></a>
         </div>
     <% } else { %>
         <div class="clearfix colelem" id="pu365-4"><!-- group -->
            <a class="nonblock nontext clearfix grpelem" id="u365-4" href="/user"><!-- content --><p>Mon compte</p></a>
            <div class="clip_frame grpelem" id="u126"><!-- svg -->
            <img class="svg" id="u124" src="images/svg-coll%c3%a9-2-x-43.svg?crc=4153082233" width="2" height="44" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%202%20x%2043_poster_.png?crc=3955926725"/>
            </div>
            <a class="nonblock nontext clearfix grpelem" id="u371-4" href="/doDeconnexion"><!-- content --><p>Déconnexion</p></a>
         </div> 
      <% } %>
  
     <div class="clearfix colelem" id="pu106"><!-- group -->
      <div class="clip_frame grpelem" id="u106"><!-- svg -->
       <img class="svg" id="u104" src="images/svg-coll%c3%a9-1366-x-839.svg?crc=3901457907" width="1366" height="840" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%201366%20x%20839_poster_.png?crc=330721540"/>
      </div>
      <a class="nonblock nontext clip_frame grpelem" id="u355" href="/"><!-- image --><img class="block" id="u355_img" src="images/explotrip5.png?crc=3963883671" alt="" width="286" height="111"/></a>
      <div class="clip_frame grpelem" id="u1351"><!-- svg -->
       <img class="svg" id="u1349" src="images/svg-coll%c3%a9-732.svg?crc=172687091" width="686" height="63" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%20732_poster_.png?crc=3915530825"/>
      </div>
      <div class="clip_frame grpelem" id="u558"><!-- svg -->
       <img class="svg" id="u559" src="images/svg-coll%c3%a9-2-x-43.svg?crc=4153082233" width="5" height="100" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%202%20x%2043_poster_.png?crc=3955926725"/>
      </div>
      <div class="clearfix grpelem" id="u567-6"><!-- content -->
       <p>Trouvez votre <span id="u567-2">séjour linguistique</span> idéal et comparez les prix des différentes agences</p>
      </div>
      <form id="formResearch" method="get" action="/doResearch">
         <div class="clearfix grpelem" id="u1070-4"><!-- content -->
            <SELECT name="Age" size="0" class="custom-select mr-sm-3" id="inlineFormCustomSelect" >
                  <option value="" selected disabled hidden>Age</option>
                   <OPTION>10
                   <OPTION>11
                   <OPTION>12
                   <OPTION>13
                   <OPTION>14
                   <OPTION>15
                   <OPTION>16
                   <OPTION>17
                   <OPTION>18
                   <OPTION>19
                   <OPTION>20
                   <OPTION>21
                   <OPTION>22
                   <OPTION>23
                   <OPTION>24
                   <OPTION>25
                   <OPTION>26
                   <OPTION>27
                   <OPTION>28
                   <OPTION>29
                   </SELECT>
         </div>
         <div class="clearfix grpelem" id="u1073-4"><!-- content -->
            <SELECT name="Pays" size="1" class="custom-select mr-sm-3" id="inlineFormCustomSelectPays" >
                  <% for(var i=0; i < sejours.length; i++) { %>
                    <option value="" selected disabled hidden>Pays</option>
                      <OPTION><%= sejours[i].Pays_Sejour %>
                  <% } %>
              </SELECT>
         </div>
         <div class="clearfix grpelem" id="u1076-4"><!-- content -->
            <SELECT name="Langue" size="1" class="custom-select mr-sm-3" id="inlineFormCustomSelectLangue" >
                  <% for(var i=0; i < sejours.length; i++) { %>
                     <option value="" selected disabled hidden>Langue</option>
                      <OPTION><%= sejours[i].Langue_Sejour %>
                  <% } %>
                  </SELECT>
         </div><button type="submit">
         <a class="nonblock nontext clearfix grpelem" id="u1067-4"><!-- content --><p>Chercher</p></a></button></form>
     </div>
     <div class="clearfix colelem" id="pu1086"><!-- group -->
      <div class="clip_frame grpelem" id="u1086"><!-- svg -->
       <img class="svg" id="u1084" src="images/svg-coll%c3%a9-1366-x-249.svg?crc=4056241861" width="1366" height="249" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%201366%20x%20249_poster_.png?crc=211620538"/>
      </div>
      <div class="clip_frame grpelem" id="u1096"><!-- svg -->
       <img class="svg" id="u1094" src="images/svg-coll%c3%a9-112379-x-134.svg?crc=3941812397" width="113" height="134" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%20112379%20x%20134_poster_.png?crc=3885008589"/>
      </div>
      <div class="clearfix grpelem" id="u1117-4"><!-- content -->
       <p>Abonnez-vous aux offres Privilèges</p>
      </div>
      <div class="clearfix grpelem" id="u1120-4"><!-- content -->
       <p>Vous découvrirez ce que vous économiserez en vous abonnant</p>
      </div>
      <div class="clip_frame grpelem" id="u1125"><!-- svg -->
       <img class="svg" id="u1123" src="images/svg-coll%c3%a9-640524-x-60.svg?crc=4048512226" width="641" height="60" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%20640524%20x%2060_poster_.png?crc=233756545"/>
      </div>
      <!-- Newsletter ADD -->
         <form id="formnewsletter" method="post" action="/doNewsletter">
            
            <div class="clearfix grpelem" class = "col" id="u1139-4"><!-- content -->
               <p><input name="mail" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Mail"></p>
            </div>
            <button type="submit"><a class="nonblock nontext clearfix grpelem" id="u1133-4"><!-- content --><p>Je m'inscris</p></a></button>
         </form>
     </div>
     <div class="clearfix colelem" id="pu1154"><!-- group -->
      <div class="clip_frame grpelem" id="u1154"><!-- svg -->
       <img class="svg" id="u1152" src="images/svg-coll%c3%a9-1366-x-475.svg?crc=3930581060" width="1366" height="475" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%201366%20x%20475_poster_.png?crc=4198319235"/>
      </div>
      <div class="clip_frame grpelem" id="u1184"><!-- svg -->
       <img class="svg" id="u1182" src="images/svg-coll%c3%a9-1130.svg?crc=482451167" width="1130" height="4" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%201130_poster_.png?crc=4087654552"/>
      </div>
      <div class="clip_frame grpelem" id="u1194"><!-- svg -->
       <img class="svg" id="u1192" src="images/svg-coll%c3%a9-360-x-50.svg?crc=3913497496" width="360" height="50" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%20360%20x%2050_poster_.png?crc=3974175541"/>
      </div>
      <div class="clip_frame grpelem" id="u1224"><!-- svg -->
       <img class="svg" id="u1222" src="images/svg-coll%c3%a9-611.svg?crc=486312423" width="612" height="2" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%20611_poster_.png?crc=19194414"/>
      </div>
      <div class="clip_frame grpelem" id="u1234"><!-- svg -->
       <img class="svg" id="u1232" src="images/svg-coll%c3%a9-301-x-1.svg?crc=3798714433" width="301" height="2" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%20301%20x%201_poster_.png?crc=4134361817"/>
      </div>
      <a class="nonblock nontext clip_frame grpelem" id="u1244" href="/"><!-- svg --><img class="svg" id="u1242" src="images/svg-coll%c3%a9-24433-x-41.svg?crc=316739213" width="25" height="41" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%2024433%20x%2041_poster_.png?crc=3918646250"/></a>
      <a class="nonblock nontext clip_frame grpelem" id="u1254" href="/"><!-- svg --><img class="svg" id="u1252" src="images/svg-coll%c3%a9-37016-x-37.svg?crc=163516442" width="37" height="37" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%2037016%20x%2037_poster_.png?crc=492972339"/></a>
      <a class="nonblock nontext clip_frame grpelem" id="u1264" href="/"><!-- svg --><img class="svg" id="u1262" src="images/svg-coll%c3%a9-34295-x-34.svg?crc=47475697" width="35" height="34" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%2034295%20x%2034_poster_.png?crc=3946995091"/></a>
      <div class="clearfix grpelem" id="u1272-4"><!-- content -->
       <p>Vous êtes une agence de séjour linguistique, et vous souhaitez vendre vos séjours sur notre plateforme ?</p>
      </div>
      <a class="nonblock nontext clearfix grpelem" id="u1275-4" href="/ajoutSejour"><!-- content --><p>Ajouter un voyage</p></a>
      <div class="clearfix grpelem" id="u1278-4"><!-- content -->
       <p>Explotrip en France</p>
      </div>
      <div class="clearfix grpelem" id="u1282-4"><!-- content -->
       <p>A propos d'Explotrip</p>
      </div>
      <div class="clearfix grpelem" id="u1285-18"><!-- content -->
       <p>23 boulevard Jean Moulin</p>
       <p>49000 Angers</p>
       <p>France</p>
       <p>&nbsp;</p>
       <p>Tel : <a class="nonblock" href="tel:+33603510151">06.03.51.01.51</a></p>
       <p>&nbsp;</p>
       <p>Mail : <a class="nonblock" href="mailto:julien@bardin.me">Julien@bardin.me</a></p>
      </div>
      <div class="clearfix grpelem" id="u1288-4"><!-- content -->
       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip suscipit lobortis nisl ut aliquip ullamcorper suscipit lobortis nisl ut aliquip suscipit lobortis nisl ut aliquipullamcorper suscipit.</p>
      </div>
      <a class="nonblock nontext clearfix grpelem" id="u1291-4" href="/mentionsLegales"><!-- content --><p>Mentions Légales</p></a>
      <a class="nonblock nontext clearfix grpelem" id="u1294-4" href="/cookies"><!-- content --><p>Cookies</p></a>
      <a class="nonblock nontext clearfix grpelem" id="u1297-4" href="/accueilExtranet"><!-- content --><p>Accéder à l'extranet</p></a>
      <div class="clearfix grpelem" id="u1303-4"><!-- content -->
       <p>© Copyright 2019 Explotrip.com</p>
      </div>
     </div>
     <div class="clearfix colelem" id="pu1164"><!-- group -->
      <div class="clip_frame grpelem" id="u1164"><!-- svg -->
       <img class="svg" id="u1162" src="images/svg-coll%c3%a9-1366-x-119.svg?crc=4155954972" width="1366" height="119" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%201366%20x%20119_poster_.png?crc=4039697205"/>
      </div>
      <a class="nonblock nontext clip_frame grpelem" id="u1174" href="/"><!-- svg --><img class="svg" id="u1172" src="images/svg-coll%c3%a9-647015-x-164.svg?crc=277452048" width="681" height="174" alt="" data-mu-svgfallback="images/svg%20coll%c3%a9%20647015%20x%20164_poster_.png?crc=3989092304"/></a>
     </div>
    </div>
    <div class="verticalspacer" data-offset-top="1745" data-content-above-spacer="1745" data-content-below-spacer="62"></div>
   </div>
  </div>
  <!-- Other scripts -->
  <script type="text/javascript">
   // Decide weather to suppress missing file error or not based on preference setting
var suppressMissingFileError = false
</script>
  <script type="text/javascript">
   window.Muse.assets.check=function(d){if(!window.Muse.assets.checked){window.Muse.assets.checked=!0;var b={},c=function(a,b){if(window.getComputedStyle){var c=window.getComputedStyle(a,null);return c&&c.getPropertyValue(b)||c&&c[b]||""}if(document.documentElement.currentStyle)return(c=a.currentStyle)&&c[b]||a.style&&a.style[b]||"";return""},a=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),
16);return 0},g=function(g){for(var f=document.getElementsByTagName("link"),h=0;h<f.length;h++)if("text/css"==f[h].type){var i=(f[h].href||"").match(/\/?css\/([\w\-]+\.css)\?crc=(\d+)/);if(!i||!i[1]||!i[2])break;b[i[1]]=i[2]}f=document.createElement("div");f.className="version";f.style.cssText="display:none; width:1px; height:1px;";document.getElementsByTagName("body")[0].appendChild(f);for(h=0;h<Muse.assets.required.length;){var i=Muse.assets.required[h],l=i.match(/([\w\-\.]+)\.(\w+)$/),k=l&&l[1]?
l[1]:null,l=l&&l[2]?l[2]:null;switch(l.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");f.className+=" "+k;k=a(c(f,"color"));l=a(c(f,"backgroundColor"));k!=0||l!=0?(Muse.assets.required.splice(h,1),"undefined"!=typeof b[i]&&(k!=b[i]>>>24||l!=(b[i]&16777215))&&Muse.assets.outOfDate.push(i)):h++;f.className="version";break;case "js":h++;break;default:throw Error("Unsupported file type: "+l);}}d?d().jquery!="1.8.3"&&Muse.assets.outOfDate.push("jquery-1.8.3.min.js"):Muse.assets.required.push("jquery-1.8.3.min.js");
f.parentNode.removeChild(f);if(Muse.assets.outOfDate.length||Muse.assets.required.length)f="Certains fichiers sur le serveur sont peut-être manquants ou incorrects. Videz le cache du navigateur et réessayez. Si le problème persiste, contactez le créateur du site.",g&&Muse.assets.outOfDate.length&&(f+="\nOut of date: "+Muse.assets.outOfDate.join(",")),g&&Muse.assets.required.length&&(f+="\nMissing: "+Muse.assets.required.join(",")),suppressMissingFileError?(f+="\nUse SuppressMissingFileError key in AppPrefs.xml to show missing file error pop up.",console.log(f)):alert(f)};location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi)?
setTimeout(function(){g(!0)},5E3):g()}};
var muse_init=function(){require.config({baseUrl:""});require(["jquery","museutils","whatinput","jquery.watch"],function(d){var $ = d;$(document).ready(function(){try{
window.Muse.assets.check($);/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.makeButtonsVisibleAfterSettingMinWidth();/* body */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
}catch(b){if(b&&"function"==typeof b.notify?b.notify():Muse.Assert.fail("Error calling selector function: "+b),false)throw b;}})})};

</script>
  <!-- RequireJS script -->
  <script src="scripts/require.js?crc=3861931657" type="text/javascript" async data-main="scripts/museconfig.js?crc=278381782" onload="if (requirejs) requirejs.onError = function(requireType, requireModule) { if (requireType && requireType.toString && requireType.toString().indexOf && 0 <= requireType.toString().indexOf('#scripterror')) window.Muse.assets.check(); }" onerror="window.Muse.assets.check();"></script>
   
  <script>
   // Code pour les champs de recherche
   var sejoursInitiaux = <%-JSON.stringify(sejours)%>;
   var inputPays = document.getElementById("inlineFormCustomSelectPays");
   var inputLangue = document.getElementById("inlineFormCustomSelectLangue");
   ////////////////////POUR LE PAYS
   //affichage à l'ouverture
   inputPays.innerHTML= " <option value='' selected disabled hidden>Pays</option>";
   for(var i=0; i<sejoursInitiaux.length; i++){
              var sejour = sejoursInitiaux[i];
              if(inputPays.innerHTML.includes(sejour.Pays_Sejour) == false){
                  inputPays.innerHTML += "<option>"+sejour.Pays_Sejour +"</option>";
              }
           }
   //affichage sur une action
   inputLangue.onchange = updateFieldCountry(inputLangue.options[inputLangue.selectedIndex].text);
   
   function updateFieldCountry(nouvelleLangue) {
            console.log("nouvelle langue : " +nouvelleLangue);

            var inputPays = document.getElementById("inlineFormCustomSelectPays");
            var selectedValue = inputPays.options[inputPays.selectedIndex].text;

           console.log("nouveau Pays : " +selectedValue);
           inputPays.innerHTML = "";
           if(nouvelleLangue == "Langue"){
               inputPays.innerHTML= " <option value='' selected disabled hidden>Pays</option>";
               for(var i=0; i<sejoursInitiaux.length; i++){
                  var sejour = sejoursInitiaux[i];
                  if(inputPays.innerHTML.includes(sejour.Pays_Sejour) == false){
                     inputPays.innerHTML += "<option>"+sejour.Pays_Sejour +"</option>";
                  }
               }
            }else{
               for(var i=0; i<sejoursInitiaux.length; i++){
                  var sejour = sejoursInitiaux[i];
                  if(inputPays.innerHTML.includes(sejour.Pays_Sejour) == false && nouvelleLangue == sejour.Langue_Sejour){
                     if(sejour.Pays_Sejour == selectedValue){
                        inputPays.innerHTML += "<option selected='selected'>"+sejour.Pays_Sejour +"</option>";
                     }else{
                        inputPays.innerHTML += "<option>"+sejour.Pays_Sejour +"</option>";
                     }
                  }
               } 
         } 
       }
   
   ////////////////////POUR LA LANGUE
   
   //affichage à l'ouverture
   inputLangue.innerHTML= " <option value='' selected disabled hidden>Langue</option>";
   for(var i=0; i<sejoursInitiaux.length; i++){
              var sejour = sejoursInitiaux[i];
              if(inputLangue.innerHTML.includes(sejour.Langue_Sejour) == false){
               inputLangue.innerHTML += "<option>"+sejour.Langue_Sejour +"</option>";
              }
           }
   //affichage sur une action
   inputLangue.onchange = function() {
            var selectedValue = inputLangue.options[inputLangue.selectedIndex].text;
           console.log("nouvelle langue : " +selectedValue);
           inputLangue.innerHTML = "";
           for(var i=0; i<sejoursInitiaux.length; i++){
              var sejour = sejoursInitiaux[i];
              if(inputLangue.innerHTML.includes(sejour.Langue_Sejour) == false){
                 if(sejour.Langue_Sejour == selectedValue){
                  inputLangue.innerHTML += "<option selected='selected'>"+sejour.Langue_Sejour +"</option>";
                 }else{
                  inputLangue.innerHTML += "<option>"+sejour.Langue_Sejour +"</option>";
                 }
              }
           }  
           updateFieldCountry(selectedValue);
       }
   </script>
   </body>
</html>
