<% include part/headBegin %>
<% include part/headEnd %>
    
<% include part/header %>

    
<p>Gestion de compte</p>

<ul>
    <li><%= existingClient.Email_Client %></li>
    <li><%= existingClient.Nom_Client %></li>
    <li><%= existingClient.Prénom_Client %></li>
</ul>


<a href="/modifyUser">Modifier Infos</a>
    
<% include part/footer %>
