<H1>Renseignement concernant les responsables légaux</H1>

</br></br>
    Situation Familiale :
    <SELECT name="situationfamille" size="0">
            <option value="" selected disabled hidden>Situation</option>
            <OPTION>Mariés
            <OPTION>Vie maritale
            <OPTION>Veuf
            <OPTION>Divorcés
            <OPTION>Séparés
            <OPTION>Célibataire
        </SELECT>
</br></br>


<H2>Parent 1</H2>
</br></br>
    Nom : 
    <input name="nomParent1" type="text" autocapitalize="characters" required pattern="[A-Za-z].{1,}">
</br></br>
    Prénom : 
    <input name="prenomParent1" type="text" autocapitalize="characters" required pattern="[A-Za-z].{1,}">
</br></br>
    Femme <INPUT TYPE="RADIO" NAME="sexeParent1" VALUE="FEMME">
    Homme <INPUT TYPE="RADIO" NAME="sexeParent1" VALUE="HOMME">
</br></br>
    N° Portable : 
    <input name="portableParent1" type="text" required pattern="[0-9+].{10,12}" placeholder='0600000000'>
</br></br>
    N° Domicile : 
    <input name="domicileParent1" type="text" required pattern="[0-9+].{10,12}" placeholder='0200000000'>
</br></br>
    N° Téléphone d'Urgence : 
    <input name="urgenceParent1" type="text" required pattern="[0-9+].{10,12}" placeholder='0600000000'>
</br></br>
    Mail : 
    <input name="mailParent1" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
</br>

<H2>Parent 2</H2>
</br></br>
    Nom : 
    <input name="nomParent2" type="text" autocapitalize="characters" required pattern="[A-Za-z].{1,}">
</br></br>
    Prénom : 
    <input name="prenomParent2" type="text" autocapitalize="characters" required pattern="[A-Za-z].{1,}">
</br></br>
    Femme <INPUT TYPE="RADIO" NAME="sexeParent2" VALUE="FEMME">
    Homme <INPUT TYPE="RADIO" NAME="sexeParent2" VALUE="HOMME">
</br></br>
    N° Portable : 
    <input name="portableParent2" type="text" required pattern="[0-9+].{10,12}" placeholder='0600000000'>
</br></br>
    N° Domicile : 
    <input name="domicileParent2" type="text" required pattern="[0-9+].{10,12}" placeholder='0200000000'>
</br></br>
    N° Téléphone d'Urgence : 
    <input name="urgenceParent2" type="text" required pattern="[0-9+].{10,12}" placeholder='0600000000'>
</br></br>
    Mail : 
    <input name="mailParent2" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
</br>
