<!--<H1>Renseignement concernant les responsables légaux</H1>

</br></br>
    Situation Familiale :
    <SELECT name="situationfamille" size="0">
            <option value="" selected disabled hidden>Situation</option>
            <OPTION>Mariés
            <OPTION>Vie maritale
            <OPTION>Veuf
            <OPTION>Divorcés
            <OPTION>Séparés
            <OPTION>Célibataire
        </SELECT>
</br></br>


<H2>Parent 1</H2>
</br></br>
    Nom : 
    <input name="nomParent1" type="text" autocapitalize="characters" required pattern="[A-Za-z].{1,}">
</br></br>
    Prénom : 
    <input name="prenomParent1" type="text" autocapitalize="characters" required pattern="[A-Za-z].{1,}">
</br></br>
    Femme <INPUT TYPE="RADIO" NAME="sexeParent1" VALUE="FEMME">
    Homme <INPUT TYPE="RADIO" NAME="sexeParent1" VALUE="HOMME">
</br></br>
    N° Portable : 
    <input name="portableParent1" type="text" required pattern="[0-9+].{10,12}" placeholder='0600000000'>
</br></br>
    N° Domicile : 
    <input name="domicileParent1" type="text" required pattern="[0-9+].{10,12}" placeholder='0200000000'>
</br></br>
    N° Téléphone d'Urgence : 
    <input name="urgenceParent1" type="text" required pattern="[0-9+].{10,12}" placeholder='0600000000'>
</br></br>
    Mail : 
    <input name="mailParent1" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
</br>

<H2>Parent 2</H2>
</br></br>
    Nom : 
    <input name="nomParent2" type="text" autocapitalize="characters" required pattern="[A-Za-z].{1,}">
</br></br>
    Prénom : 
    <input name="prenomParent2" type="text" autocapitalize="characters" required pattern="[A-Za-z].{1,}">
</br></br>
    Femme <INPUT TYPE="RADIO" NAME="sexeParent2" VALUE="FEMME">
    Homme <INPUT TYPE="RADIO" NAME="sexeParent2" VALUE="HOMME">
</br></br>
    N° Portable : 
    <input name="portableParent2" type="text" required pattern="[0-9+].{10,12}" placeholder='0600000000'>
</br></br>
    N° Domicile : 
    <input name="domicileParent2" type="text" required pattern="[0-9+].{10,12}" placeholder='0200000000'>
</br></br>
    N° Téléphone d'Urgence : 
    <input name="urgenceParent2" type="text" required pattern="[0-9+].{10,12}" placeholder='0600000000'>
</br></br>
    Mail : 
    <input name="mailParent2" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
</br>

-->


<span class="contact100-form-title">
    Renseignement concernant les responsables légaux
  </span>


  <div class="wrap-input100 input100-select">
    <span class="label-input100">Situation familiale</span>
    <div>
      <select class="selection-2" name="ageDepart">
        <option value="" selected disabled hidden>Situation Familiale des Parents</option>
        <option>Mariés</option>
        <option>Vie maritale</option>
        <option>Veuf</option>
        <option>Divorcés</option>
        <option>Séparés</option>
        <option>Celibataire</option>
      </select>
    </div>
    <span class="focus-input100"></span>
  </div>

</br></br>
  <H3>Parent 1</H3></br>
 <div class="wrap-input100 validate-input" data-validate="Name is required">
    <span class="label-input100">Nom</span>
    <input class="input100" name="nomParent1" type="text" placeholder="Nom" autocapitalize="characters" required pattern="[A-Za-z].{1,}">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Name is required">
    <span class="label-input100">Prenom</span>
    <input class="input100" name="prenomParent1" type="text" placeholder="Prenom" autocapitalize="characters" required pattern="[A-Za-z].{1,}">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 input100-select">
    <span class="label-input100">Sexe</span>
    <div>
      <select class="selection-2" name="sexeParent1">
        <option value="" selected disabled hidden>Sexe</option>
        <option>Homme</option>
        <option>Femme</option>
      </select>
    </div>
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Name is required">
    <span class="label-input100">N° Téléphone Portable</span>
    <input class="input100" name="portableParent1" type="text" required pattern="[0-9+].{10,12}" placeholder='0600000000'>
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Name is required">
    <span class="label-input100">N° Téléphone Domicile</span>
    <input class="input100" name="portableParent1" type="text" required pattern="[0-9+].{10,12}" placeholder='0600000000'>
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Name is required">
    <span class="label-input100">N° Téléphone Urgence</span>
    <input class="input100" name="urgenceParent1" type="text" required pattern="[0-9+].{10,12}" placeholder='0600000000'>
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
    <span class="label-input100">Email</span>
    <input class="input100" type="text" name="emailParent1" placeholder="Adresse Mail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
    <span class="focus-input100"></span>
  </div>

</br></br>
  <H3>Parent 2</H3></br>
 <div class="wrap-input100 validate-input" data-validate="Name is required">
    <span class="label-input100">Nom</span>
    <input class="input100" name="nomParent2" type="text" autocapitalize="characters" placeholder="Nom" required pattern="[A-Za-z].{1,}">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Name is required">
    <span class="label-input100">Prenom</span>
    <input class="input100" name="prenomParent2" type="text" autocapitalize="characters" placeholder="Prenom" required pattern="[A-Za-z].{1,}">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 input100-select">
    <span class="label-input100">Sexe</span>
    <div>
      <select class="selection-2" name="sexeParent2">
        <option value="" selected disabled hidden>Sexe</option>
        <option>Homme</option>
        <option>Femme</option>
      </select>
    </div>
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Name is required">
    <span class="label-input100">N° Téléphone Portable</span>
    <input class="input100" name="portableParent2" type="text" required pattern="[0-9+].{10,12}" placeholder='0600000000'>
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Name is required">
    <span class="label-input100">N° Téléphone Domicile</span>
    <input class="input100" name="portableParent2" type="text" required pattern="[0-9+].{10,12}" placeholder='0600000000'>
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Name is required">
    <span class="label-input100">N° Téléphone Urgence</span>
    <input class="input100" name="urgenceParent2" type="text" required pattern="[0-9+].{10,12}" placeholder='0600000000'>
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
    <span class="label-input100">Email</span>
    <input class="input100" type="text" name="emailParent2" placeholder="Adresse Mail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
    <span class="focus-input100"></span>
  </div>


  